/*******************************************************************************
Title: 			 Travel Experts Web App - CSS Forms
Author:		   Royal Bissell
Date: 			 2015-11-02
Description: CSS file to style forms. This file uses Flexboxes to handle exapanding
             fields in order to create responsive design. Some styling is handled
             dynamically by form.js
*******************************************************************************/

/* I am here to debug css!!! */
/** {
  border: 1px solid red !important;
}*/

label
{
    width: 8em;
    min-width: 8em;
    max-width: 8em;
    text-align: right;
    margin-right: 1em;
    font-weight: 600;
    color: #404040;
}

/*******************************************************************************
.input classes are the flex containers for the form fields, perform the
responsive stretching. Relative position is used to position the onfocus() field
tips absolutely to them rather than the body;
*/
/*group containers for the other input containers, allows multiple fields of a
particular size to be on one line or many depending on screeen size i.e. address*/
.input-container
{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/*input container for single fields i.e. email*/
.input
{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    position: relative;
}

/*input container for input containers that are inside container groups i.e city */
.inner-input
{
    margin-top: .5em;
    margin-bottom: .5em;
    display: flex;
    flex-grow: 1;
    position: relative;
}
/******************************************************************************/

/*performs the flexing for items inside flex containers*/
select, textarea, input, .bumper
{
    flex-grow: 1;
    background-color: rgb(246, 246, 246);
    max-width: 100%;
}

/*buttons*/
#buttons > input
{
    flex-grow: 0;
    margin-left: 1em;
    height: 4em;
    border-radius: 1em;
    background-color: #ff7300;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding-left: 3em;
    padding-right: 3em;
    cursor: auto;
    transition: background-color, color .1s;
}

/*button hover effects*/
#buttons > input:hover { background-color: White; color: black; }

/*makes sure the spam field and text are positioned correctly with each other*/
#spam { justify-content: flex-end; }

[name="spam"] { flex-grow: 0; min-width: 2em; margin-left: 1em; }

/*Radio buttons need to be positioned differently******************************/
#gender
{
    height: 1em;
    display: flex;
    align-items: flex-start;
    margin-top: 1em;
    margin-bottom: 2em;
}

#genders { margin-top: 0px; }

#genders label { margin-right: 0px; font-weight: normal; }

[type="radio"] { margin-right: 2em; }
/******************************************************************************/

/*All fields focus effects*/
select:focus, textarea:focus, input:focus
{
    border-color: transparent;
    background-color: transparent;
}

/*These are the onfocus() tooltips*/
 form div > p
{
  position: absolute;
  top: 1.5em;
  left: 9em;;
  background-color:rgba(0, 0, 0, 0.75);
  color: white;
  z-index: 2;
  border: 2px black solid;
  padding: 1em;
}

/*
Error messsages at the top of the page; technically not apart of the form,
but it uses form data so...
*/
#errors
{
  color: red;
  font-weight: 800;
  list-style: circle;
  margin: 0 0 2em 2em;
}
